<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865606164800-ofscrdih01372pisd2glj56m6h9lp8f4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865606164800-ofscrdih01372pisd2glj56m6h9lp8f4</string>
	<key>API_KEY</key>
	<string>AIzaSyCFQV7dgDJjM4wJ8NlMOywhuGttteNYUlE</string>
	<key>GCM_SENDER_ID</key>
	<string>865606164800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lbx.test2024</string>
	<key>PROJECT_ID</key>
	<string>testapp-efd86</string>
	<key>STORAGE_BUCKET</key>
	<string>testapp-efd86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865606164800:ios:6f284f359084a83e92daa5</string>
</dict>
</plist>